<!DOCTYPE HTML>
<html>

<head>
	<title>Mobilestore Website Template | blog :: W3layouts</title>
	<link href="css/BuyStyle.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery.min.js"></script>
	<script src="js/responsiveslides.min.js"></script>
</head>

<body>
	<div class="clear"> </div>
	<div class="top-header">
		<div class="wrap">
			<!----start-logo---->
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" title="logo" /></a>
			</div>
			<!----end-logo---->
			<!----start-top-nav---->
			<div class="top-nav">
				<ul>
					<li><a href="store.html" class="scroll">Store</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#">My account</a></li>
					<li><a href="#"><span>shopping cart: 0</span></a></li>
				</ul>
			</div>
			<div class="clear"> </div>
		</div>
	</div>
	<!----End-top-nav---->
	<!----End-Header---->
	<div class="clear"> </div>
	<div class="wrap">
		<div class="content">
			<div class="content-grids">
				<div class="shopping-cart">
					<div class="item">
						<div class="buttons">
							<button class="del-btn" type="button" name="button">
								<img src="images/delete-icn.svg" alt="" />
							</button>
						</div>

						<div class="image">
							<img src="images/m1.jpg" alt="" />
						</div>

						<div class="description">
							<span>Lorem ipsum dolor sit amet sadjahdkjahdkjshadkhkjsadh</span>
						</div>

						<div class="quantity">
							<button class="plus-btn" type="button" name="button">
								<img src="images/plus.svg" alt="" />
							</button>
							<input type="text" name="name" value="1">
							<button class="minus-btn" type="button" name="button">
								<img src="images/minus.svg" alt="" />
							</button>
						</div>

						<div class="total-price">130.000</div>
					</div>

				</div>
				<div class="clear"> </div>
			</div>
			<div class="content-sidebar">
				<div class="summary">
						<div class="contact-form">
								<h2 class="center">Billing Address</h2>
								<form>
									<div>
										<span><label>NAME</label></span>
										<span><input type="text" value=""></span>
									</div>
									<div>
										<span><label>E-MAIL</label></span>
										<span><input type="email" value=""></span>
									</div>
									<div>
										<span><label>PHONE NUMBER</label></span>
										<span><input type="text" value=""></span>
									</div>
									<div>
										<span><label>ADDRESS</label></span>
										<span><textarea> </textarea></span>
									</div>
								</form>
							</div>
					<div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
					<div class="summary-total">
						<div class="total-title">Total</div>
						<div class="total-value final-value" id="basket-total">130.000</div>
					</div>
					<div class="summary-checkout">
						<button class="checkout-cta">Checkout</button>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"> </div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<h3>Our Info</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h3>Latest-News</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h3>Store Location</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<h3>Order-online</h3>
					<p>080-1234-56789</p>
					<p>080-1234-56780</p>
				</div>
				<div class="col_1_of_4 span_1_of_4 footer-lastgrid">
					<h3>News-Letter</h3>
					<form>
						<input type="text"><input type="submit" value="go" />
					</form>
					<h3>Follow Us:</h3>
					<ul>
						<li><a href="#"><img src="images/twitter.png" title="twitter" />Twitter</a></li>
						<li><a href="#"><img src="images/facebook.png" title="Facebook" />Facebook</a></li>
						<li><a href="#"><img src="images/rss.png" title="Rss" />Rss</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"> </div>
	</div>
	<script src="js/Buy.js"></script>
</body>

</html>