<!DOCTYPE HTML>

<html>
{% load staticfiles %}
<head>
 <title>Mobilestore Website Template | blog :: W3layouts</title>
 <link href="{% static 'css/BuyStyle.css' %}" rel="stylesheet" type="text/css" media="all" />
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="{% static 'js/responsiveslides.min.js' %}"></script>
</head>

<body>
 <div class="clear"> </div>
 <div class="top-header">
   <div class="wrap">
     <!----start-logo---->
     <div class="logo">
       <a  href="/">  <img src="{% static 'img/logo.png' %} " title="logo" /></a>
     </div>
     <!----end-logo---->
     <!----start-top-nav---->
     <div class="top-nav">
       <ul>
         <li><a href="/" class="scroll">Home</a></li>
         <li>
         {% if user.is_authenticated %}
            <a href="{% url 'user:account'  %}">{{ user.username }}</a> </li>
             <!-- <li><a href="{% url 'logout' %}"> logout</a> </li> -->
           {% else %}
       <li>	  <a href="{% url 'register' %}">register</a></li>
         {% endif %}
         <li><a href="#"><span>cart</span></a></li>
       </ul>
     </div>
     <div class="clear"> </div>
   </div>
 </div>
 <!----End-top-nav---->
 <!----End-Header---->
 <div class="clear"> </div>
 <div class="wrap">
   <div class="content">
     <div class="content-grids">
       <div class="shopping-cart">
         {% for order_item in order.items.all %}
           <div class="item">
             <!-- <div class="buttons">
               <button class="del-btn" type="button" name="button">
                 <img src="images/delete-icn.svg" alt="" />
               </button>
             </div> -->

             <div class="image">
               <img src="{{ order_item.item.image.url }}" alt="" />
             </div>

             <div class="description">
               <span>{{ order_item }}</span>
             </div>

             <div class="quantity">
               <button type="button" name="button">

                <a href="{% url 'user:add-to-cart' order_item.item.slug %}"> <img src="{% static 'img/plus.svg' %}" alt="" /> </a>
               </button>


               <span>{{ order_item.quantity }}</span>
               <button type="button" name="button">
                   <a href="{% url 'user:remove-from-cart' order_item.item.slug %}">
                 <img src="{% static 'img/minus.svg' %}" alt="" />
          </a>
               </button>
             </div>

             <div class="total-price">{{ order_item.get_final_price }}</div>
           </div>
         {% endfor %}

       </div>
       <div class="clear"> </div>
     </div>
     <div class="content-sidebar">
       <div class="summary">


           <div class="contact-form">
               <h2 class="center">Billing Address</h2>
               <form method="POST">
                 {% csrf_token %}
                 <div>
                   <span><label for="id_name_profile">Name</label></span>
                   <span><input type="text" name="name_profile" id="id_name_profile"></span>
                 </div>

                 <div>
                   <span><label for="id_numberphone">Numberphone</label></span>
                   <span><input type="text" name="numberphone" id="id_numberphone"></span>
                 </div>
                 <div>
                   <span><label for="id_shipping_address"> Address</label></span>
                   <span><textarea name="shipping_address" cols="40" rows="10" required="" id="id_shipping_address"></textarea></span>
                 </div>

             </div>
         <div class="summary-total-items"><span class="total-items"></span> Items in your Bag</div>
         <div class="summary-total">
           <div class="total-title">Total</div>
           <div class="total-value final-value" id="basket-total">{{ order.get_total }}</div>
         </div>
         <div class="summary-checkout">
           <button type="submit" class="checkout-cta">Checkout</button>
           </form>

         </div>
       </div>
     </div>
   </div>
   <div class="clear"> </div>
 </div>
 <div class="footer">
   <div class="wrap">
     <div class="section group">
       <div class="col_1_of_4 span_1_of_4">
         <h3>Our Info</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation ullamco
           laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
           voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
       </div>
       <div class="col_1_of_4 span_1_of_4">
         <h3>Latest-News</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
       </div>
       <div class="col_1_of_4 span_1_of_4">
         <h3>Store Location</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         <h3>Order-online</h3>
         <p>080-1234-56789</p>
         <p>080-1234-56780</p>
       </div>
       <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
         <h3>News-Letter</h3>
         <form>
           <input type="text"><input type="submit" value="go" />
         </form>
         <h3>Follow Us:</h3>
         <ul>
           <li><a href="#"><img src="{% static 'img/twitter.png' %}" title="twitter" />Twitter</a></li>
           <li><a href="#"><img src="{% static 'img/facebook.png' %}" title="Facebook" />Facebook</a></li>
           <li><a href="#"><img src="{% static 'img/rss.png' %}" title="Rss" />Rss</a></li>
         </ul>
       </div>
     </div>
   </div>
   <div class="clear"> </div>
 </div>
 <script src="{% static 'js/Buy.js' %}"></script>
</body>

</html>
