<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Website using python{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/StoreStyle.css' %}">
    <!-- <link rel="stylesheet" type="text/JavaScript" href="{% static 'js/jquery.min.js' %}">
    <link rel="stylesheet" type="text/JavaScript" href="{% static 'js/jquery.livequery.js' %}"> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.livequery.js' %}"></script>
</head>

<body>
	<div class="top-header">
		<div class="wrap">
			<!----start-logo---->
			<div class="logo">
				<a  href="/"><img src="{% static 'img/logo.png' %} " title="logo" /></a>
			</div>
			<!----end-logo---->
			<!----start-top-nav---->
			<div class="top-nav">
				<ul>
					<li><a href="/" class="scroll">Home</a></li>

					<li>
					{% if user.is_authenticated %}
						 <a href="{% url 'user:account'  %}">{{ user.username }}</a> </li>
              <li><a href="{% url 'logout' %}"> logout</a> </li>
				    {% else %}
				<li>	  <a href="{% url 'register' %}">register</a></li>
					{% endif %}
					<li><a href='/checkout/'><span>cart</span></a></li>
				</ul>
			</div>
			<div class="clear"> </div>
		</div>
	</div>

{% block extrabody %}
<div class="clear"> </div>
  <div class="wrap">
		<div class="content">
      <style>
.alert {
 padding: 20px;
 background-color: #f44336;
 color: white;
 opacity: 1;
 transition: opacity 0.6s;
 margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
 margin-left: 15px;
 color: white;
 font-weight: bold;
 float: right;
 font-size: 22px;
 line-height: 20px;
 cursor: pointer;
 transition: 0.3s;
}

.closebtn:hover {
 color: black;
}

</style>

 {% if messages %}
      <div class="alert info" >
             {% for message in messages %}
             <span class="closebtn">&times;</span>
               {{ message }}
             {% endfor %}

         </div>
         <script>
         var close = document.getElementsByClassName("closebtn");
         var i;

         for (i = 0; i < close.length; i++) {
           close[i].onclick = function(){
             var div = this.parentElement;
             div.style.opacity = "0";
             setTimeout(function(){ div.style.display = "none"; }, 600);
           }
         }
         </script>
         {% endif %}

			<div class="content-grids">

				<div id="wrap">
          <script>
          var i = 1
          </script>
          <ul>
            {% for item in object_list %}

            <li id = "i" >
              <a href="{{ item.get_absolute_url }}">
              <img height="180" width="170" src="{{ item.image.url }}" class="items" alt="" />
              </a>
              <br clear="all" />
              <div>{{ item.title }}</div>
              <script>
               i += 1
              </script>
            </li>
            {% endfor %}
          </ul>


        </div>

      </div>
    </div>
  </div>
  {% endblock %}
  <!-- <div class="content-sidebar">
			<h4>Categories</h4>
			<ul>
				<li><a href="#">Accord Mobiles</a></li>
				<li><a href="#">Ace Mobile</a></li>
				<li><a href="#">Acer Mobile</a></li>
				<li><a href="#">Airfone</a></li>
				<li><a href="#">Apple</a></li>
				<li><a href="#">Blackberry</a></li>
				<li><a href="#">Byond Tech</a></li>
				<li><a href="#">Celkon Mobiles</a></li>
				<li><a href="#">Dell Mobile Phones </a></li>
				<li><a href="#">Fly Mobile</a></li>
				<li><a href="#">Fujezone Mobiles </a></li>
				<li><a href="#">HTC</a></li>
				<li><a href="#">LG Mobiles</a></li>
				<li><a href="#">Longtel Mobile</a></li>
				<li><a href="#">Maxx</a></li>
				<li><a href="#">Micromax Mobiles </a></li>
				<li><a href="#">Samsung Mobiles</a></li>
				<li><a href="#">Sony Ericsson Mobiles</a></li>
				<li><a href="#">Wynncom Mobiles</a></li>
			</ul>
		</div>
	</div> -->
	<div class="clear"> </div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<h3>Our Info</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
						voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h3>Latest-News</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<h3>Store Location</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<h3>Order-online</h3>
					<p>080-1234-56789</p>
					<p>080-1234-56780</p>
				</div>
				<div class="col_1_of_4 span_1_of_4 footer-lastgrid">
					<h3>News-Letter</h3>
					<form>
						<input type="text"><input type="submit" value="go" />
					</form>
					<h3>Follow Us:</h3>
					<ul>
            <li><a href="#"><img src="{% static 'img/twitter.png' %}" title="twitter" />Twitter</a></li>
            <li><a href="#"><img src="{% static 'img/facebook.png' %}" title="Facebook" />Facebook</a></li>
            <li><a href="#"><img src="{% static 'img/rss.png' %}" title="Rss" />Rss</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"> </div>
		<div class="wrap">
			<div class="copy-right">
				<p>&copy; 2013 Mobile Store. All Rights Reserved | Design by <a
						href="http://w3layouts.com/">W3Layouts</a></p>
			</div>
		</div>
	</div>

</body>
