{% extends "base.html" %}
{% block content %}
{% for item in object_list %}

  <h5>{{ item.get_category_display }}</h5>
  <strong>
    <a href="{{ item.get_absolute_url }}">{{ item.title }}
      <span class=" {{ item.get_label_display }}">NEW</span>
    </a>
  </strong>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  <a href="{% url 'register' %}">register</a>
{% endif %}                
                
{% endfor %}
{% endblock %}
