{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

{{ object.price }}

<img src="{{ item.image.url }}" alt="Smiley face" >


<h1> {{ item.image.url }}</h1>
<h2> {{ object.image }}</h2>
<div >

     <a href="{{ object.get_add_to_cart_url }}" >
       add to cart
     </a>

</div>
<div >

     <a href="{{ object.get_remove_from_cart_url }}" >
       remove
     </a>

</div>
get_remove_from_cart_url



{% endblock content %}
<p">Description</p>

<p>{{ object.description }}</p>
