<!DOCTYPE html>
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Style2.css' %}" />

  <!-- <script src="{% static 'js/slide.js' %}"></script>  -->
 </head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>$(document).ready(function () {
  $('.message a').click(function () {
      $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
  });
});</script>
</head>

{% block content %}
<style>
.alert {
padding: 20px;
background-color: #f44336;
color: white;
opacity: 1;
transition: opacity 0.6s;
margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closebtn:hover {
color: black;
}

</style>

{% if messages %}
<div class="alert info" >
       {% for message in messages %}
       <span class="closebtn">&times;</span>
         {{ message }}
       {% endfor %}

   </div>
   <script>
   var close = document.getElementsByClassName("closebtn");
   var i;

   for (i = 0; i < close.length; i++) {
     close[i].onclick = function(){
       var div = this.parentElement;
       div.style.opacity = "0";
       setTimeout(function(){ div.style.display = "none"; }, 600);
     }
   }
   </script>
   {% endif %}
  <div class="login-page">
        {% csrf_token %}
        <div class="login-page">
          <div class="form">
            <form class="register-form"  method="POST">
              {% csrf_token %}
              <input type="text" name="username"  placeholder="Name" maxlength="150" autofocus="" required="" id="id_username">
              <input type="email" name="email" placeholder="Email address" required="" id="id_email">
              <input type="password" name="password1" placeholder="Password" required="" id="id_password1">
              <input type="password" name="password2" placeholder="Confirm Password" required="" id="id_password2">
              <button name="registerbtn" type="submit">create</button>
              <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form"  method="POST">
              {% csrf_token %}
              <input type="text" name="username"  placeholder="username" id='username' />
              <input type="password" name="password" placeholder="password" id='password'/>
              <button name="loginbtn" type="submit">login</button>
              <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
          </div>
        </div>

      </form>
  </div>
{% endblock %}
